# added by check-manifest
include *.txt
include *.yaml
exclude output.yaml
recursive-include emotion_recognition_using_speech *.h5
recursive-include emotion_recognition_using_speech *.npy
recursive-include emotion_recognition_using_speech *.pickle
recursive-include mevonai_speech_emotion_recognition *.ac
recursive-include mevonai_speech_emotion_recognition *.am
recursive-include mevonai_speech_emotion_recognition *.c
recursive-include mevonai_speech_emotion_recognition *.classpath
recursive-include mevonai_speech_emotion_recognition *.cmake
recursive-include mevonai_speech_emotion_recognition *.coffee
recursive-include mevonai_speech_emotion_recognition *.cpp
recursive-include mevonai_speech_emotion_recognition *.css
recursive-include mevonai_speech_emotion_recognition *.cxx
recursive-include mevonai_speech_emotion_recognition *.def
recursive-include mevonai_speech_emotion_recognition *.developer
recursive-include mevonai_speech_emotion_recognition *.dox
recursive-include mevonai_speech_emotion_recognition *.doxy
recursive-include mevonai_speech_emotion_recognition *.dsp
recursive-include mevonai_speech_emotion_recognition *.dsw
recursive-include mevonai_speech_emotion_recognition *.editorconfig
recursive-include mevonai_speech_emotion_recognition *.eot
recursive-include mevonai_speech_emotion_recognition *.fla
recursive-include mevonai_speech_emotion_recognition *.gif
recursive-include mevonai_speech_emotion_recognition *.guess
recursive-include mevonai_speech_emotion_recognition *.h
recursive-include mevonai_speech_emotion_recognition *.h5
recursive-include mevonai_speech_emotion_recognition *.html
recursive-include mevonai_speech_emotion_recognition *.hxx
recursive-include mevonai_speech_emotion_recognition *.in
recursive-include mevonai_speech_emotion_recognition *.ipynb
recursive-include mevonai_speech_emotion_recognition *.java
recursive-include mevonai_speech_emotion_recognition *.jpg
recursive-include mevonai_speech_emotion_recognition *.js
recursive-include mevonai_speech_emotion_recognition *.json
recursive-include mevonai_speech_emotion_recognition *.less
recursive-include mevonai_speech_emotion_recognition *.linux
recursive-include mevonai_speech_emotion_recognition *.m4
recursive-include mevonai_speech_emotion_recognition *.otf
recursive-include mevonai_speech_emotion_recognition *.php
recursive-include mevonai_speech_emotion_recognition *.project
recursive-include mevonai_speech_emotion_recognition *.py
recursive-include mevonai_speech_emotion_recognition *.sh
recursive-include mevonai_speech_emotion_recognition *.sln
recursive-include mevonai_speech_emotion_recognition *.sub
recursive-include mevonai_speech_emotion_recognition *.svg
recursive-include mevonai_speech_emotion_recognition *.swf
recursive-include mevonai_speech_emotion_recognition *.ttf
recursive-include mevonai_speech_emotion_recognition *.txt
recursive-include mevonai_speech_emotion_recognition *.uisrnn_benchmark
recursive-include mevonai_speech_emotion_recognition *.vcproj
recursive-include mevonai_speech_emotion_recognition *.vcxproj
recursive-include mevonai_speech_emotion_recognition *.wav
recursive-include mevonai_speech_emotion_recognition *.woff
recursive-include mevonai_speech_emotion_recognition *.yml
recursive-include mevonai_speech_emotion_recognition Makefile
recursive-include residual_masking_network *.cfg
recursive-include residual_masking_network *.in
recursive-include residual_masking_network *.json
recursive-include residual_masking_network *.py
recursive-include residual_masking_network *.sh
recursive-include residual_masking_network *.toml
recursive-include residual_masking_network *.txt
recursive-include residual_masking_network *.yaml
recursive-include residual_masking_network *.yml
recursive-include scripts *.sh
recursive-include social_reward_function *.typed
recursive-include emotion_recognition_using_speech *.txt
